<ion-content padding class="transparent-header">
    <ion-header>
      <!-- <ion-navbar>
      </ion-navbar> -->
    </ion-header>
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + user.coverImage +')'}"></div>
    <div id="content">
      <div id="profile-info" padding>
        <img id="profile-image" [src]="user.profileImage">
        <h3 id="profile-name">{{user.name}}</h3>
        <p class="profile-description">{{user.description}}</p>

      </div>
      <hr/>
      <ion-row class="profile-numbers">
        <!-- <ion-col col-4>
          <p>Followers</p>
          <span>{{user.followers}}</span>
        </ion-col> -->
        <ion-col col-6>
          <p>Upcoming Activities</p>
          <span>{{user.upcomingAct}}</span>
        </ion-col>
        <ion-col col-6>
          <p>Pending Activities</p>
          <span>{{user.pendingAct}}</span>
        </ion-col>
      </ion-row>
      <!-- <ion-list>
        <ion-list-header>Activities</ion-list-header>
        <ion-item *ngFor="let dummy of Dummies$ | async" detail-push navPush="ViewActivityPage" [navParams]="{dummy: dummy}">{{dummy.name}}</ion-item>
        </ion-list> -->
        <!-- <ion-item>
          <ion-label floating>Activity</ion-label>
          <ion-input [(ngModel)]="dummy.name" type="text" ></ion-input>
        </ion-item> -->
        <!-- <button ion-button (click)="addAct(dummy)">Add Activity</button> -->

        <p>
            {{(userProfileData)?.firstName}}
          </p>


          <ul>
            <li *ngFor="let item of regUsers$ | async">
               {{ item | json }}
            </li>
          </ul>


          
      <div id="posts">
        <ion-card *ngFor="let post of posts">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="user.profileImage">
            </ion-avatar>
            <h2 class="sticky">{{user.name}}</h2>
            <p>{{post.date}}</p>
          </ion-item>
          <img [src]="post.postImageUrl" (click)="imageTapped(post)">
          <ion-card-content>
            <p>{{post.text}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ion-toolbar class="footer">
    <div (click)="logout()">
      <span><strong>Logout</strong></span>
    </div>
  </ion-toolbar>
  </ion-content>
  