$categories: (
 true: #6600CC,
 false: rgb(247, 0, 4),
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item[track=#{$track}] ion-label {
     border-left: 5px solid $value;
     padding-left: 10px;
     font-size: 10px
   }
  }
}
